
.container{
    width: 1200px;
}

.cell{
    width: 10%;
    height: 120px;
    line-height: 120px;
    text-align: center;
    border: 2.5px solid lightgreen;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.activeCell{
    background-color: lightblue;
    color: black;
}

header{
    background-image: url("../img/header-pattern.jpg");
}