
.container{
    width: 1200px;
}

.cell{
    height: 100px;
    line-height: 120px;
    text-align: center;
    border: 2.5px solid lightgreen;
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

.activeCell{
    background-color: lightblue;
    color: black;
}
.smallCell{
    width: calc(100% / 10);
}

.mediumCell{
    width: calc(100% / 9);
}

.largeCell{
    width: calc(100% / 7);
}
header{
    background-image: url("../img/header-pattern.jpg");
}